.howTitleLight {
    color: white;
    text-transform: uppercase;
    font-size: 2rem
}

.howTitleOrange {
    color: #ff5e00;
    text-transform: uppercase;
    font-size: 2rem
}

.bgOrange {
    background-color: #ff5e00
}

.colorOrange {
    color: #ff5e00;
}

.bgOrangeLight {
    background-color: #ff7e33
}

.colorOrangeLight {
    color: #ff7e33
}

.triangleOrange {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 25px solid #ff5e00;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}

.triangleLight {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 25px solid white;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}

.howBtn {
    border: 0px;
    background-color: #ff5e00;
    color: white;
    height: 50px;
}