.howTitle {
    color: #ff5e00;
    text-transform: uppercase;
    font-family: 'static_Bold';
    font-size: 2.5rem
}

.howTitleLight {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700
}

.howTitleOrange {
    color: #ff5e00;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700
}

.bgOrange {
    background-color: #ff5e00
}

.colorOrange {
    color: #ff5e00;
}

.bgOrangeLight {
    background-color: #ff7e33
}

.colorOrangeLight {
    color: #ff7e33
}

.triangleOrange {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 25px solid #ff5e00;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}

.triangleLight {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 25px solid white;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}

.howBtn {
    background-color: #ff5e00 !important;
    color: white;
    border : 0px !important;
    max-width: 25%;
    padding: 20px !important;
    text-transform: uppercase;
}

@media (max-width: 768px) { 
    .howTitle {
        font-size: 1.3rem
    }
    
    .howTitleLight {
        color: white;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700
    }
    
    .howTitleOrange {
        color: #ff5e00;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700
    }
    .howBtn {
        max-width: 100%;
    }
}